Please select a character
<br>

<form method='post' action='/'>
<% @people.each do |person| %>
  <img src=<%= person.picture%> height='100' width='100'>
  <br>
  <button class="btn btn-primary" type='submit' name='character' value=<%= person.name%>><%= person.name%></button>
  <br>
  <% end %>
</form>